body {
    background-color: darkslateblue;
    color: rgb(250, 167, 243);
    font-size: medium;
    font-weight: 200;
    
    font-family: 'Monaco';
    margin: 0px auto
}

h1 {
    font-size: 100px;
    text-align: center;
    background: #FF0000;
background: radial-gradient(circle farthest-corner at center center, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
  display: block;
  margin: 0 auto;
  width: 500px;
  transition: transform 0.7s ease-in-out;
 box-shadow: 10px 10px 5px 0px rgba(135,232,153,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(135,232,153,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(135,232,153,0.75);
} 
img:hover {
  transform: scale(1.2);
}
p {
     font-size: 40px;
text-align: center;
 
}
ol {
      font-size: 50px;
text-align: center;

 background: #FFFF00;
background: linear-gradient(to left, #FFFF00 0%, #31FF8A 50%, #FFFF00 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

aside{ font-size: 50px;
text-align: center;
color: lightsalmon;
font-family: Georgia, 'Times New Roman', Times, serif;}


h2
{ font-size: 70px;
 font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
text-decoration: underline wavy coral}

footer {
  font-size: 50px;
  text-align: center;
  text-decoration: underline wavy coral;
}