body {
  background-color: #141414;
  color: white;
}

h1 {
  color: white;
  font-weight: 100;
}

.cuadro {
  color: white;
  border-radius: 40px;
  padding: 150px 1px;
  border: 1px solid rgb(110, 107, 107);
}
.uno {
  margin-top: 90px;
  text-align: center;
  font-size: 25px;
  margin-right: 150px;
  letter-spacing: 2px;
}
.dos {
}

.home {
  display: grid;
  margin-left: 350px;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin-right: 300px;
}

.imagen {
  border: 1px solid rgb(110, 107, 107);
  border-radius: 20px;
  width: 750px;
  height: 850px;
  size: 0cap;
}
.texto {
  font-size: 20px;
  letter-spacing: 0cap;
}
