body {
  background-color: #141414;
}

header {
  width: 77%;
  height: 72.5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 129px;
}

nav {
  width: 960px;
  height: 52px;
}
.lista {
  display: flex;
  font-family: Arial;
  font-size: 15.5px;
  list-style: none;
}
.boton {
  background-color: white;
  color: #665f5f;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 18px;
  font-weight: 500;
}

.botonN {
  background-color: #141414;
  color: white;
  border-radius: 5px;
  padding: 10px 18px;
  border: 1px solid rgb(110, 107, 107);
  text-decoration: none;
  font-weight: 500;
}

.blanco {
  color: rgb(163, 161, 161);
  font-weight: 500;
  text-decoration: none;
}
.link {
  margin-right: 33.1px;
}

.boton-contacto {
  margin-right: 13px;
}
